body{
    /* background-image : url('background.png'); */
    background-image : url('background.png');
}
header{
    background-color:#000022;
    height: 55px;
    width: 100%;
}
#importmain{
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 10em;
}
table{
    text-align: center;
}
@media screen and (min-width: 600px) {
    .footImg{
        display: none;
    }
}
/* 
@media screen and (max-width: 600px) {
    body{
        background-image : url('background.png');
    }
} */